header {
    background-color: #dcdcdc;
}

.btn-add,
.btn-remove {
    width: 80px;
}

.btn-catalog-wrapper {
    width: 300px;
}

table {
    border: 1px solid lightcyan;
}

.title-name {
    height: 30px;
    font-size: 0.7rem;
}

.list {
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

main {
    height: 600px;
}

td {
    border: none !important;
}

tr {
    border-bottom: 1px solid #dee2e6;
}

.btn-edit {
    width: 70px;
    position: fixed;
    right: 0%;
    top: 50%;
    margin-right: 5px;
    box-shadow: 0 0 5px #000;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

.pop-up-window {
    display: block;
    width: 990px;
    padding: 20px;
    /* height: 360px; */
    position: fixed;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
    margin-top: 100px;
    z-index: 3;
    border: 1px solid lightgrey;
    background-color: rgb(245, 255, 250);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
}

.pop-up-window__h3 {
    text-align: left;
}

.modal-close-button {
    display: inline-block;
    /* width: 20px;
    height: 20px; */
    border: none;
    position: absolute;
    top: 5%;
    right: 4%;
    font-size: 1.5rem;
    cursor: pointer;
    transform: rotate(45deg);
    transition: transform 1s;
    box-sizing: border-box;
}

.fa-angle-right {
  margin-left: -2px;
  /* margin-right: -30px; */
}

.modal-close-button:hover {
    color: rgb(178, 34, 34);
    transform: rotate(90deg);
    transition: transform linear 0.5s;
    }

.modal-close-button:hover .fa-angle-right {
    margin-left: -14px;
    transition: margin-left 0.5s;
}

textarea {
    padding-left: 5px;
}

/* MODAL WINDOW <<< end */

.btn__create {
    position: relative;
    right: -92.5%;
}

.search-container {
    float: right;
}

#search {
    /* position: absolute;
    right: 20px; */
    width: 170px;
    height: 20px;
    border: none;
    border-bottom: 1px solid lightgrey;  
}

select {
    max-width: 120px;
    font-size: 11px;
}

.title-product {
    width: 200px;
    color: blueviolet;
}

.discription {
    display: inline-block;
   max-width: 370px;
    height: 70px;
    overflow: hidden;
}

footer {
    height: 80px;
    background-color: rgb(220, 220, 220);
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}